.page.theme_light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --arrow-color: #353430;
  --accent-color: #FF8DCB;
  --title-main-color: #ffc2e6;
  --title-shadow-color: #ff0070;

  .header__theme-menu-button {
    color: currentColor;
  }

  button:hover {
    border: 1px solid rgba(50, 49, 45, 0.4);
  }

  .content__subtitle {
    color: var(--text-color);
  }

  .header__subtitle {
    color: var(--text-color);
  }
    
  .content__accent {
    color: var(--text-color);
  }

  .content__subtitle-thin {
    color: var(--text-color);
  }

  .decorated-zone {
    background: url("../images/cover-image-light.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .rec {
    display: none;
  }
}