.page.theme_light {
  --bg-color: #fff1f7;
  --text-color-main: #353430;
  --text-color-second: #353430;
  --text-color-accent: #353430;
  --arrow-color: #353430;
  --accent-color: #FF8DCB;
  --title-main-color: #ffc2e6;
  --title-shadow-color: #ff0070;
  --background-picture: url("../images/cover-image-light.png");
  --button-text-color: #353430;
  --button-border-color: 1px solid #353430;
  --button-hover-color: 1px solid rgba(50, 49, 45, 0.4);
}

.theme_light {
  .rec {
    display: none;
  }
}