:root {
  --main-font: "IBM Plex mono", Arial, Helvetica, sans-serif;
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-main-color: #ffc2e6;
  --title-shadow-color: #ff0070;
}

a {
  text-decoration: none;
  text-shadow: var(--accent-color) 2px 2px;
  padding: 0;
  border: 1px solid transparent;
}

a:focus,
button:focus {
  outline: none;
}

a:focus-visible {
  outline: none;
  padding: 0;
  border: 1px solid currentColor;
}

button:focus-visible {
  border-bottom: 1px solid currentColor;
  outline: none;
}

button:disabled {
  pointer-events: none;
  padding: 3px 12px;
  border: 1px solid currentColor;
}

a:hover {
  border-bottom: 1px solid currentColor;
}

button:hover {
  border: 1px solid rgba(50, 49, 45, 0.4);
}