:root {
  --main-font: "IBM Plex mono", Arial, Helvetica, sans-serif;
  --bg-color: #fff1f7;
  --text-color: #353430;
  --arrow-color: #353430;
  --accent-color: #FF8DCB;
  --title-main-color: #ffc2e6;
  --title-shadow-color: #ff0070;
}